{% INCLUDE 'overall_header.html' %}
<h1>{{ lang('ACP_OBSCURECONTACTUS_CONFIG') }}</h1>
<p>{{ lang('ACP_OBSCURECONTACTUS_CONFIG_EXPLAIN') }}</p>
<form id="acp_obscurecontactus_config" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_OBSCURECONTACTUS_CONFIG_SET') }}</legend>
		{% if EMAIL_ENABLE %}
		<dl>
			<dt>
				<label for="contact_admin_form_enable">{{ lang('OBSCURECONTACT_US_ENABLE') }}{{ lang('COLON') }}</label><br><span>{{ lang('OBSCURECONTACT_US_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" id="contact_admin_form_enable" name="contact_admin_form_enable" value="0"{% if not CONTACT_ENABLED %} checked="checked"{% endif %} /> {{ lang('ENABLED') }}</label>
				<label><input type="radio" class="radio" id="contact_admin_form_enable" name="contact_admin_form_enable" value="1"{% if CONTACT_ENABLED %} checked="checked"{% endif %} /> {{ lang('DISABLED') }}</label>
			</dd>
		</dl>
		{% endif %}
		<dl>
			<dt>
				<label for="obscurecontactus_prefix">{{ lang('OBSCURECONTACTUS_PREFIX') }}{{ lang('COLON') }}</label><br><span>{{ lang('OBSCURECONTACTUS_PREFIX_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input name="obscurecontactus_prefix" required type="text" id="obscurecontactus_prefix" value="{{ OBSCURECONTACTUS_PREFIX }}" placeholder="{{ lang('OBSCURECONTACTUS_PREFIX_PLACEHOLDER') }}" maxlength="255" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="obscurecontactus_suffix">{{ lang('OBSCURECONTACTUS_SUFFIX') }}{{ lang('COLON') }}</label><br><span>{{ lang('OBSCURECONTACTUS_SUFFIX_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input name="obscurecontactus_suffix" required type="text" id="obscurecontactus_suffix" value="{{ OBSCURECONTACTUS_SUFFIX }}" placeholder="{{ lang('OBSCURECONTACTUS_SUFFIX_PLACEHOLDER') }}" maxlength="255" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="obscurecontactus_subject">{{ lang('OBSCURECONTACTUS_SUBJECT') }}{{ lang('COLON') }}</label><br><span>{{ lang('OBSCURECONTACTUS_SUBJECT_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input name="obscurecontactus_subject" required type="text" id="obscurecontactus_subject" value="{{ OBSCURECONTACTUS_SUBJECT }}" maxlength="255" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="obscurecontactus_mouseover">{{ lang('OBSCURECONTACTUS_MOUSEOVER') }}{{ lang('COLON') }}</label><br><span>{{ lang('OBSCURECONTACTUS_MOUSEOVER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input name="obscurecontactus_mouseover" required type="text" id="obscurecontactus_mouseover" value="{{ OBSCURECONTACTUS_MOUSEOVER }}" maxlength="255" />
			</dd>
		</dl>
		<p class="submit-buttons">
			<input type="hidden" name="action" value="save" />
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>
{% INCLUDE 'overall_footer.html' %}
