{% if not U_CONTACT_US %}
<li class="rightside" data-last-responsive="true">
	<script>
		var prefix='mailto';
		var name='{{( OBSCURECONTACTUS_PREFIX )|escape('js')}}';
		var url='{{( OBSCURECONTACTUS_SUFFIX )|escape('js')}}';
		var subject = '{{( OBSCURECONTACTUS_SUBJECT )|escape('js')}}';
		var icon = '<i class="icon fa-envelope fa-fw" aria-hidden="true"></i>'
			document.write( '<a href="' + prefix + ':' + name + '@' + url +
			'?subject=' +subject+
			'"TITLE="{{( OBSCURECONTACTUS_MOUSEOVER )|escape('js')}}" role="menuitem">' + icon + 
			'{{ lang('CONTACT_US')|escape('js') }}' + '</a>');
	</script>
</li>
{% endif %}
